In [57]:
import Pkg; Pkg.add("DataFrames")
Pkg.add("Missings")
Pkg.add("CSV")
Pkg.add("Statistics")
using DataFrames
using CSV
using Missings
using Statistics

   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`
   Resolving package versions...
  No Changes to `~/.julia/environments/v1.7/Project.toml`
  No Changes to `~/.julia/environments/v1.7/Manifest.toml`

In [59]:
df = DataFrame(a=1:4, b='A':'D')
#df.c = [1.0, 2.0, 3.0, 4.0]  # add a column named :c
typeof(df.a)

Vector{Int64} (alias for Array{Int64, 1})

In [60]:
df = DataFrame(
colour = ["green","blue","white","green","green"],
shape  = ["circle", "triangle", "square","square","circle"],
border = ["dotted", "line", "line", "line", "dotted"],
area   = [1.1, 2.3, 3.1, missing, 5.2])

5×4 DataFrame
 Row │ colour  shape     border  area
     │ String  String    String  Float64?
─────┼─────────────────────────────────────
   1 │ green   circle    dotted        1.1
   2 │ blue    triangle  line          2.3
   3 │ white   square    line          3.1
   4 │ green   square    line    missing
   5 │ green   circle    dotted        5.2

In [61]:
describe(df)

4×7 DataFrame
 Row │ variable  mean    min     median  max       nmissing  eltype            ⋯
     │ Symbol    Union…  Any     Union…  Any       Int64     Type              ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ colour            blue            white            0  String            ⋯
   2 │ shape             circle          triangle         0  String
   3 │ border            dotted          line             0  String
   4 │ area      2.925   1.1     2.7     5.2              1  Union{Missing, Fl
                                                                1 column omitted

In [62]:

for c in eachrow(df)    # eachcol(df) for columns
    print(c)
end

DataFrameRow
 Row │ colour  shape   border  area
     │ String  String  String  Float64?
─────┼──────────────────────────────────
   1 │ green   circle  dotted       1.1DataFrameRow
 Row │ colour  shape     border  area
     │ String  String    String  Float64?
─────┼────────────────────────────────────
   2 │ blue    triangle  line         2.3DataFrameRow
 Row │ colour  shape   border  area
     │ String  String  String  Float64?
─────┼──────────────────────────────────
   3 │ white   square  line         3.1DataFrameRow
 Row │ colour  shape   border  area
     │ String  String  String  Float64?
─────┼──────────────────────────────────
   4 │ green   square  line     missing DataFrameRow
 Row │ colour  shape   border  area
     │ String  String  String  Float64?
─────┼──────────────────────────────────
   5 │ green   circle  dotted       5.2

In [64]:
#Referencing is obtained using the exclamation mark ! for the row position 
#(to emphasize that referenced data could be changed in the new object) 
myRef1 = df[!, :colour]  # we need to do this rather than df[:, :colour]
myRef1[1] = "pink"   # changes the original dataframe as well
myRef1

5-element Vector{String}:
 "pink"
 "blue"
 "white"
 "green"
 "green"

In [ ]:
df[1, :colour] = "pink"  # changes the original dataframe as well
df

In [65]:
dict = Dict(:Color=>["green","blue","white","green","green"],:Shape=>["circle", "triangle", "square","square","circle"],:Border=>["dotted", "line", "line", "line", "dotted"],:Area=>[1.1, 2.3, 3.1, missing, 5.2])
df = DataFrame(dict)
#select(df, Not(:Area))   # drop column :Area

5×4 DataFrame
 Row │ Area       Border  Color   Shape
     │ Float64?   String  String  String
─────┼─────────────────────────────────────
   1 │       1.1  dotted  green   circle
   2 │       2.3  line    blue    triangle
   3 │       3.1  line    white   square
   4 │ missing    line    green   square
   5 │       5.2  dotted  green   circle

In [66]:
tuples = (:H => [5, 10], :J => [10, 15])
typeof(tuples)

Tuple{Pair{Symbol, Vector{Int64}}, Pair{Symbol, Vector{Int64}}}

In [68]:
df = DataFrame(tuples...) # note the column names are not controlled by the user

2×2 DataFrame
 Row │ H      J
     │ Int64  Int64
─────┼──────────────
   1 │     5     10
   2 │    10     15

In [71]:
# Exercise: We have a list of 3 books and their authors. Some of the books have more than one author
# list of books "The Hobbit", "The Lord of the Rings", "The Silmarillion"
# list of authors "J.R.R. Tolkien", "J.R.R. Tolkien",     "J.R.R. Tolkien" and "Christopher Tolkien"
# construct a dataframe with two columns: Book and Author

# Write this out to a CSV file -  what do we expect to see?
# Now read the CSV file back in and see what happens to the types of the columns
books = DataFrame(Book=["The Hobbit", "The Lord of the Rings", "The Silmarillion"], Author=["J.R.R. Tolkien", "J.R.R. Tolkien", "J.R.R. Tolkien and Christopher Tolkien"])
CSV.write("books.csv", books)
df2 = CSV.read("books.csv", DataFrame)

df2

3×2 DataFrame
 Row │ Book                   Author
     │ String31               String
─────┼──────────────────────────────────────────────────────────
   1 │ The Hobbit             J.R.R. Tolkien
   2 │ The Lord of the Rings  J.R.R. Tolkien
   3 │ The Silmarillion       J.R.R. Tolkien and Christopher T…

In [ ]:
names(df)

In [ ]:
df = DataFrame(:X => [5,10,15,20], :Y => [5,10,15,20])

In [ ]:
push!(df, [10, 15])

In [ ]:
df.Z = df.X .* df.Y    # add a new column using element wise multiplication
df

In [ ]:
# Key:  note the use of the !
df.W = df[!, :X]
df.V = ['a', 'b', 'c', 'd', 'e']
df

In [ ]:
df = DataFrame(:X => [5,10,15,20], :Y => [5,10,15,20])
df.Z = df.X .* df.Y    # add a new column using element wise multiplication
push!(df, [10, 15, 99])

In [ ]:
names(df)
# test columns for type and select only Number columns

function getNumericColumns(df)
    numericColumns = []
    for i in 1:size(df)[2]
        if eltype(df[:, i]) <: Number
            push!(numericColumns, names(df)[i])
        end
    end
    return numericColumns
end
getNumericColumns(df)
#select(df,[Symbol('X'), Symbol('Y'), Symbol('Z'), Symbol('W')])
#select(df, getNumericColumns(df))

In [ ]:
#rename!(df, :X => :XMAS)

In [ ]:
df[!, :U] = [1, 2, 3, 4, 5]

In [ ]:
show(df)

In [ ]:
first(df, 2)

In [ ]:
last(df, 3)

In [ ]:
df[2:4, :]

In [ ]:
df[Not(2:4), :]

In [ ]:
show(df)

In [ ]:
df[2, 2]

In [ ]:
df2 = DataFrame(:A => [5, 10, 15, 20, 25], :Y => [5, 10, 15, 20, 15])

In [ ]:
innerjoin(df, df2, on = :Y)

In [ ]:
df

In [ ]:
sort!(df)

In [ ]:
DataFrame([Float64, Float64, Int64, Int64], [Symbol("x$i") for i in 1:4], 3)

In [46]:
df = DataFrame(:A => [5, missing, 6], :B => [5, 10, 2])

3×2 DataFrame
 Row │ A        B
     │ Int64?   Int64
─────┼────────────────
   1 │       5      5
   2 │ missing     10
   3 │       6      2

In [47]:
# drop rows where any column is missing
dropmissing(df)

2×2 DataFrame
 Row │ A      B
     │ Int64  Int64
─────┼──────────────
   1 │     5      5
   2 │     6      2

In [ ]:
df

In [ ]:
dropmissing(df, :A)

In [42]:
df3  = DataFrame(x=[1,missing,3,nothing,5,NaN], y='a':'f')

6×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ missing  b
   3 │ 3.0      c
   4 │          d
   5 │ 5.0      e
   6 │ NaN      f

In [43]:
filter( [1] => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

3×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ 3.0      c
   3 │ 5.0      e

In [44]:
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df3)

3×2 DataFrame
 Row │ x        y
     │ Union…?  Char
─────┼───────────────
   1 │ 1.0      a
   2 │ 3.0      c
   3 │ 5.0      e

In [45]:

df = DataFrame(x=[missing,NaN,3432.34,432.2,NaN, 43.])
# select numerical type columns from a DataFrame df
filter(:x => x -> !any(f -> f(x), (ismissing, isnothing, isnan)), df)

3×1 DataFrame
 Row │ x
     │ Float64?
─────┼──────────
   1 │  3432.34
   2 │   432.2
   3 │    43.0

In [40]:
df = DataFrame(A=[1,3,4,5,6,9], B=[1,3,4,5,6,3], C=["a","b","c","d","e","f"])

6×3 DataFrame
 Row │ A      B      C
     │ Int64  Int64  String
─────┼──────────────────────
   1 │     1      1  a
   2 │     3      3  b
   3 │     4      4  c
   4 │     5      5  d
   5 │     6      6  e
   6 │     9      3  f

In [ ]:
using Missings
# drop columns with not number values - using subtype operator <: 
df = df[:, map(col -> eltype(col) <: Number, eachcol(df))]
# note use of subtype operator <:
# eachrow(df) and eachcol(df) are useful functions

In [ ]:

using DataFrames; df = CSV.read("house100Data.csv", DataFrame)
describe(df)

In [ ]:
# Fix column names by replaceing ' ', '-', '/' with '_'
# Test this by editing  a few house100Data.csv column names 
colnames = Symbol[]
for i in string.(names(df))
    push!(colnames,Symbol(replace(replace(replace(strip(i)," " => "_"),"-" => "_"), "/" => "_")))
end

rename!(df, colnames);
names(df)

In [ ]:
Pkg.add("JSON")
using JSON
using HTTP

url = "https://pollysnips.s3.amazonaws.com/contacts.json"
res = HTTP.get(url)
str = String(res.body)
jobj = JSON.Parser.parse(str)

In [ ]:
df = DataFrame(A = 1:4, B = ["M", "F", "F", "M"])
df2 = DataFrame(A = 6, B = ["F"])
df3 = vcat(df, df2)

In [37]:
# we have a list of 3 books and their authors. Some of the books have more than one author
# list of books "The Hobbit", "The Lord of the Rings", "The Silmarillion"
# list of authors "J.R.R. Tolkien", "J.R.R. Tolkien",     "J.R.R. Tolkien" and "Christopher Tolkien"
# construct a dataframe with two columns: Book and Author
a = ["The Hobbit", "The Lord of the Rings", "The Silmarillion"]
b = [["J.R.R. Tolkien"], ["J.R.R. Tolkien"], ["J.R.R. Tolkien", "Christopher Tolkien"]]
df = DataFrame(Book = a, Author = b)
CSV.write("books.csv", df)
dfbooks = CSV.read("books.csv", DataFrame)
dfbooks[3, :Author]

"[\"J.R.R. Tolkien\", \"Christopher Tolkien\"]"